<div id="<%= dom_id llm_config %>">
  <h1 class="title"><%= llm_config.name %></h1>
  <h2 class="subtitle">Model: <%= llm_config.provider %></h2>
  <h2 class="subtitle">Version: <%= llm_config.version %></h2>
  <h2 class="subtitle">Default Params: <%= llm_config.default_parameters %></h2>
</div>
